@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #3a3636, #000000);
   
}

.calculator{
    border: 1px solid #7a7aa1;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(80, 80, 138, 0.5);
    
}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #fffefe;
}

input::placeholder{
    color: #fdf7f7;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: rgb(12, 12, 12);

    color: #e9e4e4;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(197, 98, 98, 0.2);
    cursor: pointer;
}

.equalBtn{
    background-color: #ca8618;
}

.operator{
    color: #c38a90;
}